/* Special Styles for Pixelgyro */

.navigation.dark {
	padding: 10px 0;
	background: #000;
	color: #ddd;
	font-size: 12px;
	border-bottom: solid 1px #666;
	.paging {
		a {
			font-size: 18px;
			color: #eee;
			&:hover {
				color: #fff;
			}
		}
		.pagenumber {
			position:relative;
			bottom: 1px;
			margin: 0 5px;
		}
	}
	button.close {
		color: #eee;
		.opacity(.6);
		&:hover {
			.opacity(1);
		}
	}
}